USE [master]
GO
/****** Object:  Database [NguyenVuongAnhStudent]    Script Date: 26/09/2026 9:19:15 SA ******/
CREATE DATABASE [NguyenVuongAnhStudent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NguyenVuongAnhStudent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NguyenVuongAnhStudent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NguyenVuongAnhStudent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NguyenVuongAnhStudent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NguyenVuongAnhStudent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NguyenVuongAnhStudent]
GO
/****** Object:  Table [dbo].[NguyenVuongAnhStudent]    Script Date: 26/09/2026 9:19:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenVuongAnhStudent](
	[Id] [int] NOT NULL,
	[NguyenVuongAnhName] [nvarchar](50) NULL,
	[NguyenVuongAnhGender] [int] NULL,
	[NguyenVuongAnhBirthDay] [date] NULL,
	[NguyenVuongAnhEmail] [nvarchar](100) NULL,
	[NguyenVuongAnhPhone] [char](12) NULL,
	[NguyenVuongAnhActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
